body {
  text-align: center;
  margin:auto;
  font-family:'Black Han Sans', sans-serif;
/*  Needs a color ligher than black for the h1,2,3's*/
}
p {
  color:grey;
}
h1,
h2,
h3 {
  color:#3d3d3d;
}
header {
    background: whitesmoke;
}
header ul {
  max-width: 90%;
  padding: 0;
  margin:auto;
}
header li {
  list-style-type: none;
  margin-bottom: 5px;
  padding:5px;
  background-color: white;
  font-weight: bold;
}
header h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}
header p {
  padding-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;

}
main {
  margin: auto;

}
#portfolio {
  max-width: 90%;
}

.Student-img{
  width: 250px;

}
.port-img{
  max-width: 90%;

}

#contact{
  padding-bottom: 50px;
  padding-top: 30px;

}
#contact,
footer {
  background-color: whitesmoke;
}

footer {
  padding-bottom: 10px;
  padding-top: 15px;

}

.realFooter{
  border-top: 1px solid lightgrey;
}

.footName {
  float:left;
}
.toTop {
  float: right;

}
.botList{
  display: none;
}
/* Link styles */
a {
  color: #3d3d3d;
  text-transform:uppercase;

}

a:link {
  text-decoration: none;
}




/*  */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.debug {
  border: 1px red solid;
}

/*  Media Queries */
  @media(min-width:768px){

    .container {
        max-width: 49%;
        float: left;
        padding-right: 1px;
        padding-left: 1px;
  }
    .Student-img {
      float:right;
      width: 40%;
    }
    header {
      padding-bottom: 50px;
    }
    header h1 {
      font-size: 25px;
    }
    header p {
      float: left;
      max-width: 55%;
      margin-left: 20px;
      font-size: 20px;
      text-align: left;
    }
    header li {
      display: inline-block;
      background-color: whitesmoke;
      margin: 10px;
    }
    .toTop {
      display: none;
    }
    .botList {
      float: right;
      list-style-type: none;
      display: inline-block;
    }
    .botList li {
      font-size: 12px;
      display: inline;
      margin: 10px;
      font-weight: bold;
    }
  }
@media(min-width: 1024px){
  .container {
    max-width: 32%;
    margin: 3px;
  }
  h1 {
    float: left;
    padding: 25px;
    margin: 15px;
  }
  header ul {
    display: inline-block;
    float: right;
    margin: 15px;
  }
  header p {
    font-size: 25px;
  }
  h2 {
    padding: 40px;
  }
.contactText{
  display: inline-block;
  max-width: 25%;
}
}



/* Test  */
